/*------------------------------------*\
  6.COMPONENTS
  MOST OF THE CODE GOES HERE.

  Content

  1. Header
  2  Footer
  3. Global Theater Icon
  4. Homepage
  5. Actors-characters Page
  6. Article
  7. Last


\*------------------------------------*/

/*------------------------------------*\
  1. Header
\*------------------------------------*/

.header-global-wrapper {
  width: auto;
  height: 120px;
  margin: 0;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}
@media only screen and (max-width: $tabletMaxWidth) {
  .header-global-wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.header-desktop-center {
  display: flex;
  align-items: end;
}

.header-desktop-spacer {
  flex-grow: 1;
}
@media only screen and (max-width: $tabletMaxWidth) {
  .header-desktop-right {
    display: none;
  }
}

.header-desktop-icon-title {
  display: flex;
  align-items: end;
}

.header-desktop-icon-title h2 {
  color: gray;
  margin-left: 15px;
}

.header-desktop-right a {
  padding-right: 25px;
  padding-left: 25px;
}

@media only screen and (max-width: 850px) {
  .header-desktop-right a {
    padding-right: 7px;
    padding-left: 7px;
  }
}

.header-desktop-right a:last-of-type {
  padding-right: 0;
}

.fa-city {
  color: gray;
}

.small-city {
  display: none;
}

.hamburger-container,
.small_sreen_header_navigation {
  display: none;
}

@media only screen and (max-width: $tabletMaxWidth) {
  .small-city {
    display: block;
  }

  .regular-city {
    display: none;
  }

  .hamburger-container {
    display: inline;
  }

  .small_sreen_header_navigation {
    list-style: none;
    position: absolute;
    top: 120px;
    left: 0;
    background: white;
    line-height: 35px;
    font-size: 22px;
    width: 100%;
    padding-left: 20px;
    padding-bottom: 35px;
    padding-top: 25px;
    z-index: 9999;
    border-top: 1px gray solid;
  }

  .small_sreen_header_navigation p {
    color: gray;
    margin-bottom: 17px;
  }
  .small_sreen_header_navigation ul {
    list-style-type: none;
  }
}

/*------------------------------------*\
  2. Footer
\*------------------------------------*/

.footer-global-container {
  width: auto;
  height: 220px;
  margin: 0;
  padding-bottom: 30px;
  padding-top: 40px;
  background-color: white;
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
}

@media only screen and (max-width: $tabletMaxWidth) {
  .footer-global-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
  }
}

.footer-content-1,
.footer-content-2,
.footer-content-3 {
  width: 30%;
  margin-top: 20px;
  margin-left: 5px;
  margin-right: 5px;
  padding-top: 15px;
  padding-left: 45px;
  border-right: 1px solid gray;
}
@media only screen and (max-width: $tabletMaxWidth) {
  .footer-content-1,
  .footer-content-2,
  .footer-content-3 {
    width: 70%;
    border-right: none;
    padding: 0;
    margin: 0;
    align-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid gray;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 50px;
    padding-top: 60px;
  }

  .footer-content-1 {
    border-top: none;
    padding-top: 0;
  }
}

.footer-content-3 {
  border-right: none;
}

.footer-content-1 h6,
.footer-content-2 h6,
.footer-content-3 h6 {
  color: gray;
  margin-top: 15px;
  margin-bottom: 15px;
}

/*------------------------------------*\
  3. Global Theater Icon
\*------------------------------------*/
.theater-info-global-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.theater-info {
  display: flex;
  justify-content: start;
}

.theater-logo-object {
  border-right: 1px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 35px;
  margin-right: 35px;
}

.theater-logo-object h6 {
  margin-top: 15px;
}

.theater-details {
  display: flex;
  flex-direction: column;
  padding-top: 80px;
}

.theater-details h6 {
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: $tabletMaxWidth) {
  .theater-info {
    flex-direction: column;
  }

  .theater-logo-object {
    border-bottom: 1px solid white;
    border-right: none;
    padding: 0;
    margin: 0;
    padding-bottom: 25px;
  }

  .theater-details {
    display: flex;
    flex-direction: column;
    padding-top: 45px;
  }
}

.fa-theater-masks {
  color: white;
  padding-right: 12px;
}

/*------------------------------------*\
  4. Homepage
\*------------------------------------*/

main {
  height: auto;
  padding-bottom: 100px;
}

/*flex column for screens that don't support grid:*/
.homepage-main-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 0;
  margin: 0;
  padding-top: 70px;
  padding-left: 25px;
  padding-right: 25px;
}
/*************************************************/

/*Grid for large screens *************************/
@media only screen and (min-width: 1001px) {
  .homepage-main-wrapper {
    padding-top: 20px;
    display: grid;
    /*
    grid-template-columns: 12em 4em 12em 11em 6em 6em 8em !important;
    grid-template-rows: 2em 5em 0.5em 4em 21em 4em 4em 2em 5em !important;
    grid-template-areas:
      ". a a . . . ."
      ". . . . . . ."
      ". b . . . . ."
      ". . . . c . ."
      ". . . . . . ."
      ". . . d d d d"
      ". . . . . . ."
      ". . . . . . ."
      ". e f f f f .";
      */
    grid-template-columns: 0.5fr auto repeat(2, 1fr) 0.5fr;
    grid-template-rows: 1.7fr 280px repeat(2, 1fr);
    grid-template-areas:
      ". a a . ."
      ". b c c ."
      ". . d d d"
      ". e f f .";
  }
}

/************************************/

.presentation-message {
  grid-area: a;
  letter-spacing: 0.6em;
}
@media only screen and (max-width: 1000px) {
  .presentation-message {
    margin-bottom: 30px;
  }
}

.homepage-image-grid {
  grid-area: b;
}

.homepage-summary-grid {
  grid-area: c;
  padding-left: 30px;
}

@media only screen and (max-width: 1000px) {
  .homepage-summary-grid {
    margin-top: 40px;
    margin-bottom: 50px;
  }
}

.homepage-main-title {
  grid-area: d;
}
@media only screen and (max-width: 1000px) {
  .homepage-main-title {
    margin-top: 40px;
    margin-bottom: 50px;
  }
}

.theater-logo-grid {
  grid-area: e;
  padding-left: 100px;
}

.theater-logo-homepage {
  border-right: 1px solid white;
  width: auto;
}

.theater-logo-homepage h6 {
  margin-top: 7px;
}

@media only screen and (max-width: 1000px) {
  .theater-logo-homepage {
    border-bottom: 1px solid white;
    border-right: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20px;
  }
}

.starring-written-grid {
  grid-area: f;
  padding-left: 50px;
  padding-top: 25px;
}

@media only screen and (max-width: 1000px) {
  .starring-written-grid {
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.starring-written-grid h6 {
  padding: 2px 0;
  margin: 0;
}

/* circular image */
/*https://www.webfx.com/blog/web-design/circular-images-css/*/

.homepage-main-image-wrapper {
  position: relative;
  width: 400px;
  height: 400px;
  overflow: hidden;
  border-radius: 50%;
}
@media only screen and (max-width: $phoneMaxWidth) {
  .homepage-main-image-wrapper {
    width: 300px;
    height: 300px;
  }
}

.homepage-main-image {
  width: 100%;
  height: auto;
  margin-top: -80px;
}

.massacre {
  color: $second-color;
}

.orphan {
  color: $base-color;
}

/*------------------------------------*\
  5. Actors-Characters Page, Page 2
\*------------------------------------*/

.actors-characters-title {
  color: white;
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 75px;
}

.actors-characters-global-flex-container {
  display: flex;
  margin-top: 70px;
  justify-content: center;
  flex-wrap: wrap;
}

.actors-characters-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 7.5px;
  margin-right: 7.5px;
  padding-bottom: 10px;
  height: auto;
}

@media only screen and (max-width: 1000px) {
  .actors-characters-container {
    width: 45%;
  }
}

@media only screen and (max-width: $tabletMaxWidth) {
  .actors-characters-container {
    width: 100%;
  }
}

.actors-characters-container h5 {
  margin-left: 15px;
  margin-right: 10px;
  margin-top: 15px;
}

.actors-characters-card {
  background-color: white;
  height: 20em;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: start;
  margin-bottom: 15px;
}

.actors-characters-wrapper {
  width: 285px;
  height: auto;
  margin-top: 15px;
}

@media only screen and (max-width: $tabletMaxWidth) {
  .actors-characters-wrapper {
    width: 100%;
  }
}

.actors-characters-card img {
  width: 100%;
}

/*------------------------------------*\
  6. Article, Page 3
\*------------------------------------*/
.article-title-author h1,
.article-title-author h2 {
  color: $base-color;
}

.article-title-author {
  margin-bottom: 25px;
}

.article-main-container {
  margin-top: 70px;
  margin-left: 90px;
  margin-right: 90px;
  margin-bottom: 70px;
}

@media only screen and (max-width: $tabletMaxWidth) {
  .article-main-container {
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: $phoneMaxWidth) {
  .article-main-container {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
  }
}

.article-body {
  height: 100%;
}

/* hero image */
.article-hero-image {
  background-image: url("../images/article-author.webp");
  /* Set a specific height */
  height: 50%;

  /* Position and center the image to
  scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.article-upper-container {
  margin-bottom: 70px;
}

.article-text {
  color: gray;
  margin-bottom: 20px;
}

.article-lower-container {
  display: flex;
}

.article-lower-image img {
  width: 90%;
  height: auto;
}

@media only screen and (max-width: 1000px) {
  .article-lower-container {
    flex-direction: column;
    align-items: center;
  }

  .article-lower-image img {
    width: 100%;
  }
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  direction: ltr;
  box-sizing: border-box;
}

.ArticleCopy {
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  width: 80%;
  margin: 0 auto;
  padding: 3rem;
  display: flex;
  justify-content: center;
}

.ArticleCopy blockquote {
  border-radius: 3px;
  position: relative; /*  <--- */
  font-style: italic;
  text-align: center;
  padding: 1rem 1.2rem;
  width: 80%; /* create space for the quotes */
  color: gray;
  margin: 1rem auto 2rem;
  background: white;
  font-size: 1.7em;
}

@media only screen and (max-width: $tabletMaxWidth) {
  .ArticleCopy {
    width: 100%;
    padding: 1rem;
    margin-top: 2em;
  }

  .ArticleCopy blockquote {
    padding: 0;
    margin: 0;
    margin-top: 2em;
  }
}

.ArticleCopy p {
  text-rendering: optimizeLegibility;
  color: gray;
}

@media only screen and (max-width: $tabletMaxWidth) {
  .ArticleCopy blockquote {
    font-size: 1em;
  }
}

/* -- create the quotation marks -- */
.ArticleCopy blockquote:before,
.ArticleCopy blockquote:after {
  /*font-family: FontAwesome;*/
  font-family: $font-family-serif;
  position: absolute;
  /* -- inside the relative position of blockquote -- */
  top: 13px;
  color: gray;
  font-size: 34px;
}

@media only screen and (max-width: $phoneMaxWidth) {
  .ArticleCopy blockquote:before,
  .ArticleCopy blockquote:after {
    /*font-family: FontAwesome;*/
    font-family: $font-family-serif;
    position: absolute;
    /* -- inside the relative position of blockquote -- */
    top: 13px;
    color: gray;
    font-size: 20px;
  }
}

.ArticleCopy blockquote:before {
  content: "\f10d";
  margin-right: 13px;
  right: 100%;
}
.ArticleCopy blockquote:after {
  content: "\f10e";
  margin-left: 13px;
  left: 100%;
  top: auto;
  bottom: 13px;
}

/*------------------------------------*\
  7. Last, Page 4
\*------------------------------------*/

.last-form-global-container {
  padding-top: 170px;
  padding-bottom: 100px;
  padding-left: 140px;
  padding-right: 140px;
}

@media only screen and (max-width: $tabletMaxWidth) {
  .last-form-global-container {
    padding-left: 110px;
    padding-right: 110px;
  }
}

@media only screen and (max-width: $phoneMaxWidth) {
  .last-form-global-container {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.last-form-global-container label {
  color: white;
}

.last-form-global-container input {
  color: gray;
}

.last-form-global-container button {
  background-color: $second-color;
  color: white;
  border: none;
}

.last-form-global-container button:hover {
  background-color: $base-color;
}
