/**
*
*
*  SETTINGS CONTENTS
*  Global and brand variables
*  For example: variables. Font, colors,
*  definitions, etc. No output.
*
*
*  1.Font variables
*
*  2.Color variables
*
*  3.Media break variables
*
*  4.Misc variables
**/

/* stylelint-disable no-variable-declaration */

/*------------------------------------*\
  1.Fonts
\*------------------------------------*/

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
$font-family-serif: "Georgia", "Times New Roman", serif;

$h1-font-size: 4em;
$h2-font-size: 1.4em;
$h5-font-size: 0.9em;
$h6-font-size: 0.6em;
$p-font-size: 1em;

/*------------------------------------*\
  2.Colors
\*------------------------------------*/

$base-color: #51a780;
$second-color: #ed86a5;
$third-color: #574341;

/*------------------------------------*\
  3.Media breaks
\*------------------------------------*/
$tabletMaxWidth: 769px;
$phoneMaxWidth: 481px;
$smallScreenMaxWidth: 1200px;

/*------------------------------------*\
  4.Misc
\*------------------------------------*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*If you are using a preprocessor, start here.
This holds any global settings for your project.
I'd like to stress the word global –
this layer should only house settings that need to be accessed
from anywhere.
Settings like $heading-size-1 should be defined in the
Headings partial. This ensures this layer stays nice and slim,
and means that most settings can be found alongside the code
that uses them, making finding things far simpler.

Examples of global settings might be things
like the base font size, colour palettes, config
(for example, $environment: dev;) and so on.*/
