/*------------------------------------*\
  TRUMPS / UTILITIES
  The only place where !important declarations
  will be accepted.The most explicit
  types of rules.
\*------------------------------------*/

/* stylelint-disable declaration-no-important */

/*
.sample !important {
  rule:variable !important;
}
*

/*to overide "reboot"*/
/*a {
  text-decoration: none !important;
  color: $second-color !important;
}

ul {
  padding-left: 0 !important;
}*/
